/* ImageCard.module.css */
img {
    width: 100%;
    height: 200px; /* Фіксована висота, змініть на потрібне значення */
    object-fit: cover; /* Забезпечує обрізання і заповнення контейнера */
  }
  